If:
  PathMatch: .*cu$

CompileFlags:
  Add:
    - -xcuda
    - -std=c++17
    - -I/home/sijirama/Desktop/me/coder/impls/.cuda-stubs
    - -include/home/sijirama/Desktop/me/coder/impls/.cuda-stubs/cuda_runtime.h
    - --cuda-host-only
    - -nocudainc
    - -nocudalib

Diagnostics:
  Suppress:
    - kern_call_not_global_function
    - ref_bad_target
